DEBUG =
OPENAI_API_KEY =
LLM_TEMPERATURE =
LLM_HISTORY_LENGTH =
CORS_ALLOW_ORIGINS =
CORS_ALLOW_METHODS =
CORS_ALLOW_HEADERS =
CORS_ALLOW_CREDENTIALS =

POSTGRES_HOST =
POSTGRES_PORT =
POSTGRES_USER =
POSTGRES_PASSWORD =
POSTGRES_DB =
